* {
  font-family: monospace;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  align-self: center;
  position: absolute;
}

.hide {
  display: none;
}

#stats, #debug {
  top: 0;
  position: absolute;
  color: white;
}

#stats {
  width: 100%;
}

#time {
  text-align: center;
  font-size: 4em;
}

#old, #new {
  right: 0;
  top: 0;
  position: absolute;
  padding: 10px;
  font-size: 2em;
}

#debug {
  padding: 10px;
}
